{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'device/css/device.css' %}">

<title>Services: Device | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="jumbotron jumbotron-fluid" id="pageLabel">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            Device
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<h1>List of Services</h1>
<ul>
    <li><h3><a href="/service/device/ipinfo/api/" target="_blank">IP  Information</a></h3></li>
</ul>

{% endblock %}
