{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'device/css/device.css' %}">

<title>Services: Device | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="pageLabel jumbotron jumbotron-fluid">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            Device
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<h1 class="text-center display-4 mt-5">
    SERVICES
    <i class="fas fa-tram text-primary"></i>
</h1>

<div class="container-fluid">
    <div class="card-deck row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-sm-5 mx-md-0">
        <div class="col pt-4"><div class="card h-100 mimr-bg-beige">
            <img src="{% static 'assets/img/logo/ipAddress.png' %}" class="card-img-top" alt="...">
            <div class="card-header bg-info mimr-text-beige text-center"><h2>Public IP Address</h2></div>
            <div class="card-body">
                <p class="card-text">Do you need to know the public IP address your device is using to communicate across the Internet? Send me a request now and I'll tell you!</p>
            </div>
            <div class="card-footer text-right"><a class="btn btn-primary" href="/service/device/ipinfo/api/" target="_blank">Me gusta!</a></div>
        </div></div>
    </div>
</div>

{% endblock %}
