{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">

<title>Home | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="jumbotron jumbotron-fluid" id="pageLabel">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            make
            <span class="text-warning">IDEAS,</span>
            <br>
            make
            <span class="text-warning">REALITY!</span>
        </h1>
    </div>
</div>

{% endblock %}
