{% extends "base.html" %}

{% block head %}

{% load static %}

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{% static 'home/css/homeStyle.css' %}">

<title>Home | MakeIdeasMakeReality</title>

{% endblock %}

{% block body %}

<section>
    <div class="jumbotron jumbotron-fluid" id="homeJumbotron">
        <div class="container pt-5 text-center">
            <div class="display-3 pt-xs-3 pt-sm-5">
                make
                <span class="text-warning">IDEAS,</span>
                <br>
                make
                <span class="text-warning">REALITY!</span>
            </h1>
        </div>
    </div>
</section>

{% endblock %}
