#pageLabel
{
    background-image: url("../assets/img/indiaAgraTajMahal.jpeg");
    background-size: cover;
    background-position: center; /* bottom center; */
    background-attachment: fixed;
    min-height: 75vh;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 0 20px rgba(0,255,0,1);
}
