#cipherMessage_pageLabel
{
    background-image: url("../../assets/img/cambodiaSiemReapAngkorWat.jpeg");
}

#generateCode_pageLabel
{
    background-image: url("../../assets/img/cambodiaSiemReapRuinsWithTree.jpeg");
}

#lineLength_pageLabel
{
    background-image: url("../../assets/img/singaporeMarinaBay.jpeg");
}

#tabIndent_pageLabel
{
    background-image: url("../../assets/img/spainBarcelonaSagrada.jpeg");
}

textarea
{
    resize:none;
}

#textToFormat, #textToFormat:focus
{
    background-color: lightgreen;
}

#formattedText, #formattedText:focus
{
    background-color: lightpink;
    /*cursor:auto;*/
}

.copyButton
{
    top: 0;
    right: 0;
}

.copyButton:hover
{
    text-decoration: none; /*removes underline*/
    background-color: rgb(2, 117, 216);
    color: white;
}
