#cipherMessage_pageLabel
{
    background-image: url("../../assets/img/cambodiaSiemReapAngkorWat.jpeg");
}

#commonWord_pageLabel
{
    background-image: url("../../assets/img/singaporeCentralPerk.jpeg");
}

#generateCode_pageLabel
{
    background-image: url("../../assets/img/cambodiaSiemReapRuinsWithTree.jpeg");
}

#formatTabIndent_pageLabel
{
    background-image: url("../../assets/img/spainBarcelonaSagrada.jpeg");
}

#wrapLine_pageLabel
{
    background-image: url("../../assets/img/singaporeMarinaBay.jpeg");
}

textarea
{
    resize:none;
}
