{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'service/css/service.css' %}">

<title>Services | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="pageLabel jumbotron jumbotron-fluid">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            Services
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="container-fluid text-center p-0">
    <h1 class="display-4 mt-5">
        <!-- <span class="border-bottom border-top border-info"> -->
        CATEGORIES
        <i class="fas fa-sitemap text-primary"></i>
    </h1>
    <br>
    <!-- either use "row-cols-md-2" on row or put "col-md-6" on each col -->
    <div class="row no-gutters row-cols-1 row-cols-md-2">
        <div class="col order-md-2">
            <a class="mimr-service-image" href="/service/text/">
                <div class="mimr-service-image-hover h-100 d-flex justify-content-center align-items-center">
                    <i class="fas fa-sort-alpha-down"></i>
                    <i class="fas fa-sort-numeric-up-alt"></i>
                </div>
                <div id="textPhoto"></div>
            </a>
        </div>
        <div class="col order-md-1 mimr-bg-beige">
            <div class="offset-md-2 col-md-8 h-100 d-flex flex-column text-left justify-content-center"> <!-- border-top border-info -->
                <h1 class="font-weight-bolder" data-toggle="tooltip" data-placement="right" title="Sawadee ka! Click the grass of Wat Pho Bangkok!">Text</h1>
                <p class="lead">Analyze and process data involving characters such as letters, numbers, and symbols. Perform tasks such as manipulating words, formatting style, doing some adjustments, searching for characters, and literally anything related to processing text.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid d-md-none mimr-bg-beige pt-2 pb-4 py-md-0">
        <div class="row no-gutters row-cols-1"><div class="col"><hr class="mimr-bg-brown"></div></div>
    </div>

    <div class="row no-gutters row-cols-1 row-cols-md-2">
        <div class="col order-md-1">
            <a class="mimr-service-image" href="/service/device/">
                <div class="mimr-service-image-hover"><i class="fas fa-robot h-100 d-flex justify-content-center align-items-center"></i></div>
                <div id="devicePhoto"></div>
            </a>
        </div>
        <div class="col order-md-2 mimr-bg-beige">
            <div class="offset-md-2 col-md-8 h-100 d-flex flex-column text-left justify-content-center">
                <h1 class="font-weight-bolder" data-toggle="tooltip" data-placement="right" title="Ola! Click the tram from Lisbon!">Device</h1>
                <p class="lead">Tools for your devices. Parsing information such as public IP address and the like.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid d-md-none mimr-bg-beige pt-2 pb-4 py-md-0">
        <div class="row no-gutters row-cols-1"><div class="col"><hr class="mimr-bg-brown"></div></div>
    </div>

    <div class="row no-gutters row-cols-1 row-cols-md-2">
        <div class="col order-md-2">
            <div class="mimr-service-image" href="">
                <div class="mimr-service-image-hover"><i class="fas fa-question-circle h-100 d-flex justify-content-center align-items-center"></i></div>
                <div id="soonPhoto"></div>
            </div>
        </div>
        <div class="col order-md-1 mimr-bg-beige">
            <div class="offset-md-2 col-md-8 h-100 d-flex flex-column text-left justify-content-center">
                <h1 class="font-weight-bolder" data-toggle="tooltip" data-placement="right" title="Nothing in here!">SOON</h1>
                <p class="lead">Watch out for my next category!</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
