/*Include in HTML*/
    /*<!-- Google Fonts -->*/
    /*<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">*/
/*Include in CSS*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/*
Either
1. mark these as important to be prioritized or
2. put this at the end of this css file + include this css file lastly so that this styling is the
   last to be applied
*/
.mimr-text-beige { color: beige !important; }
.mimr-text-bluegreen { color: lightseagreen !important; }
.mimr-text-blueviolet { color: blueviolet !important; }
.mimr-text-brown { color: brown !important; }
.mimr-text-cyan { color: cyan !important; }
.mimr-text-darkblue { color: darkblue !important; }
.mimr-text-darkgreen { color: darkgreen !important; }
.mimr-text-dodgerblue { color: dodgerblue !important; }
.mimr-text-flesh { color: peachpuff !important; }
.mimr-text-gold { color: gold !important; }
.mimr-text-hotpink { color: hotpink !important; }
.mimr-text-lightblue { color: lightblue !important; }
.mimr-text-lightbrown { color: peru !important; }
.mimr-text-lightgreen { color: lightgreen !important; }
.mimr-text-lightpink { color: lightpink !important; }
.mimr-text-maroon { color: maroon !important; }
.mimr-text-olive { color: olive !important; }
.mimr-text-orange { color: orange !important; }
.mimr-text-pink { color: pink !important; }
.mimr-text-purple { color: purple !important; }
.mimr-text-royalblue { color: royalblue; }
.mimr-text-skyblue { color: skyblue !important; }
.mimr-text-tomato { color: tomato !important; }
.mimr-text-violet { color: violet !important; }
.mimr-text-yellow { color: yellow !important; }
.mimr-text-yellowgreen { color: yellowgreen !important; }

.mimr-bg-beige { background-color: beige !important; }
.mimr-bg-bluegreen { background-color: lightseagreen !important; }
.mimr-bg-blueviolet { background-color: blueviolet !important; }
.mimr-bg-brown { background-color: brown !important; }
.mimr-bg-cyan { background-color: cyan !important; }
.mimr-bg-darkblue { background-color: darkblue !important; }
.mimr-bg-darkgreen { background-color: darkgreen !important; }
.mimr-bg-dodgerblue { background-color: dodgerblue !important; }
.mimr-bg-flesh { background-color: peachpuff !important; }
.mimr-bg-gold { background-color: gold !important; }
.mimr-bg-hotpink { background-color: hotpink !important; }
.mimr-bg-lightblue { background-color: lightblue !important; }
.mimr-bg-lightbrown { background-color: peru !important; }
.mimr-bg-lightgreen { background-color: lightgreen !important; }
.mimr-bg-lightpink { background-color: lightpink !important; }
.mimr-bg-maroon { background-color: maroon !important; }
.mimr-bg-olive { background-color: olive !important; }
.mimr-bg-orange { background-color: orange !important; }
.mimr-bg-pink { background-color: pink !important; }
.mimr-bg-purple { background-color: purple !important; }
.mimr-bg-royalblue { background-color: royalblue !important; }
.mimr-bg-skyblue { background-color: skyblue !important; }
.mimr-bg-tomato { background-color: tomato !important; }
.mimr-bg-violet { background-color: violet !important; }
.mimr-bg-yellow { background-color: yellow !important; }
.mimr-bg-yellowgreen { background-color: yellowgreen !important; }

.mimr-bg-beige-focus:focus { background-color: beige !important; }
.mimr-bg-lightgreen-focus:focus { background-color: lightgreen !important; } /*cursor:auto;*/
.mimr-bg-lightpink-focus:focus { background-color: lightpink !important; }

.mimr-bg-blueviolet-active .active, .mimr-bg-blueviolet-active .active:hover { background-color: blueviolet !important; }

.mimr-bg-blueviolet-checkbox .custom-control-input:checked ~ .custom-control-label::before { background-color: blueviolet !important; }

.pageLabel
{
    /*Ways of accessing static files*/

    /*1. Wrong relative path*/
    /*background-image: url("home/assets/img/spainMadridMetropolis.jpg");*/
    /*http://127.0.0.1:8003/static/home/css/home/assets/img/spainMadridMetropolis.jpg*/
    /*https://storage.googleapis.com/mimr-bucket/home/css/home/assets/img/spainMadridMetropolis.jpg*/

    /*2. Wrong absolute path*/
    /*background-image: url("/home/assets/img/spainMadridMetropolis.jpg");*/
    /*http://127.0.0.1:8003/home/assets/img/spainMadridMetropolis.jpg*/
    /*https://storage.googleapis.com/home/assets/img/spainMadridMetropolis.jpg*/

    /*3. Correct relative and absolute path*/
    /*background-image: url("../assets/img/spainMadridMetropolis.jpg");*/
    /*or*/
    /*background-image: url("../../home/assets/img/spainMadridMetropolis.jpg");*/
    /*or*/
    /*background-image: url('/static/home/assets/img/spainMadridMetropolis.jpg');*/
    /*or*/
    /*background-image: url("https://storage.googleapis.com/mimr-bucket/home/assets/img/spainMadridMetropolis.jpg");*/
    /*http://127.0.0.1:8003/static/home/assets/img/spainMadridMetropolis.jpg*/
    /*https://storage.googleapis.com/mimr-bucket/home/assets/img/spainMadridMetropolis.jpg*/

    /*4. You can also just add this instead to the HTML file, reading from the STATIC_URL*/
    /*
    {% load static %}
    <style type="text/css">
        .pageLabel
        {
            background-image: url("{% static 'home/assets/img/spainMadridMetropolis.jpg' %}");
        }
    </style>
    */

    background-size: cover;
    background-position: center; /* bottom center; */
    background-attachment: fixed;
    min-height: 75vh;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 0 20px rgba(0,255,0,1);
    margin: 0;
}

.fab:hover, .far:hover, .fas:hover
{
    font-size: 1.3em;
}

.mimr-top-right
{
    top: 0;
    right: 0;
}

.mimr-btn-copy
{
    top: 0;
    right: 0;
}

.mimr-btn-copy:hover
{
    text-decoration: none; /*removes underline*/
    background-color: rgb(2, 117, 216);
    color: white;
}
