/*Include in HTML*/
    /*<!-- Google Fonts -->*/
    /*<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">*/
/*Include in CSS*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.mimr-text-beige { color: beige; }
.mimr-text-bluegreen { color: lightseagreen; }
.mimr-text-blueviolet { color: blueviolet; }
.mimr-text-brown { color: brown; }
.mimr-text-cyan { color: cyan; }
.mimr-text-darkblue { color: darkblue; }
.mimr-text-darkgreen { color: darkgreen; }
.mimr-text-dodgerblue { color: dodgerblue; }
.mimr-text-flesh { color: peachpuff; }
.mimr-text-gold { color: gold; }
.mimr-text-hotpink { color: hotpink; }
.mimr-text-lightblue { color: lightblue; }
.mimr-text-lightbrown { color: peru; }
.mimr-text-lightgreen { color: lightgreen; }
.mimr-text-lightpink { color: lightpink; }
.mimr-text-maroon { color: maroon; }
.mimr-text-olive { color: olive; }
.mimr-text-orange { color: orange; }
.mimr-text-pink { color: pink; }
.mimr-text-purple { color: purple; }
.mimr-text-royalblue { color: royalblue; }
.mimr-text-skyblue { color: skyblue; }
.mimr-text-tomato { color: tomato; }
.mimr-text-violet { color: violet; }
.mimr-text-yellow { color: yellow; }
.mimr-text-yellowgreen { color: yellowgreen; }

.mimr-bg-beige { background-color: beige; }
.mimr-bg-bluegreen { background-color: lightseagreen; }
.mimr-bg-blueviolet { background-color: blueviolet; }
.mimr-bg-brown { background-color: brown; }
.mimr-bg-cyan { background-color: cyan; }
.mimr-bg-darkblue { background-color: darkblue; }
.mimr-bg-darkgreen { background-color: darkgreen; }
.mimr-bg-dodgerblue { background-color: dodgerblue; }
.mimr-bg-flesh { background-color: peachpuff; }
.mimr-bg-gold { background-color: gold; }
.mimr-bg-hotpink { background-color: hotpink; }
.mimr-bg-lightblue { background-color: lightblue; }
.mimr-bg-lightbrown { background-color: peru; }
.mimr-bg-lightgreen { background-color: lightgreen; }
.mimr-bg-lightpink { background-color: lightpink; }
.mimr-bg-maroon { background-color: maroon; }
.mimr-bg-olive { background-color: olive; }
.mimr-bg-orange { background-color: orange; }
.mimr-bg-pink { background-color: pink; }
.mimr-bg-purple { background-color: purple; }
.mimr-bg-royalblue { background-color: royalblue; }
.mimr-bg-skyblue { background-color: skyblue; }
.mimr-bg-tomato { background-color: tomato; }
.mimr-bg-violet { background-color: violet; }
.mimr-bg-yellow { background-color: yellow; }
.mimr-bg-yellowgreen { background-color: yellowgreen; }

.pageLabel
{
    /*Ways of accessing static files*/

    /*1. Wrong relative path*/
    /*background-image: url("home/assets/img/spainMadridMetropolis.jpg");*/
    /*http://127.0.0.1:8003/static/home/css/home/assets/img/spainMadridMetropolis.jpg*/
    /*https://storage.googleapis.com/mimr-bucket/home/css/home/assets/img/spainMadridMetropolis.jpg*/

    /*2. Wrong absolute path*/
    /*background-image: url("/home/assets/img/spainMadridMetropolis.jpg");*/
    /*http://127.0.0.1:8003/home/assets/img/spainMadridMetropolis.jpg*/
    /*https://storage.googleapis.com/home/assets/img/spainMadridMetropolis.jpg*/

    /*3. Correct relative and absolute path*/
    /*background-image: url("../assets/img/spainMadridMetropolis.jpg");*/
    /*or*/
    /*background-image: url("../../home/assets/img/spainMadridMetropolis.jpg");*/
    /*or*/
    /*background-image: url('/static/home/assets/img/spainMadridMetropolis.jpg');*/
    /*or*/
    /*background-image: url("https://storage.googleapis.com/mimr-bucket/home/assets/img/spainMadridMetropolis.jpg");*/
    /*http://127.0.0.1:8003/static/home/assets/img/spainMadridMetropolis.jpg*/
    /*https://storage.googleapis.com/mimr-bucket/home/assets/img/spainMadridMetropolis.jpg*/

    /*4. You can also just add this instead to the HTML file, reading from the STATIC_URL*/
    /*
    {% load static %}
    <style type="text/css">
        .pageLabel
        {
            background-image: url("{% static 'home/assets/img/spainMadridMetropolis.jpg' %}");
        }
    </style>
    */

    background-size: cover;
    background-position: center; /* bottom center; */
    background-attachment: fixed;
    min-height: 75vh;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 0 0 20px rgba(0,255,0,1);
    margin: 0;
}

.mimr-hover-white:hover
{
    /*either mark this as important to be prioritized or put this at the end of this css file +
    include this css file lastly so that this styling is the last to be applied*/
    color: white !important;
}
.fab:hover, .far:hover, .fas:hover
{
    font-size: 1.3em;
}
