{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'text/css/common.css' %}">

<title>Common Words | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="pageLabel jumbotron jumbotron-fluid" id="commonWord_pageLabel">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            C.o.m.m.o.n W.o.r.d.s
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="mt-2 text-center text-muted font-italic">Need <a href="{% static 'docs/build/html/modules/api/service/text/commonWord.html' %}" target="_blank">help?</a></div>

<!-- Form contains a file input thus the need for enctype='multipart/form-data' -->
<form class="m-4 serviceForm" method="POST" action="." enctype='multipart/form-data' data-url="/service/text/commonword/api/" data-result="#countedWords" data-list="#urlsInput #ignoreInput"> {% csrf_token %}
    <div class="d-lg-flex">
        <div class="flex-fill mr-4">
            <div class="mt-3">
                <nav>
                    <div class="nav nav-pills h4 mimr-bg-blueviolet-active" id="nav-tab-inputs" role="tablist">
                        <a class="nav-item nav-link active" id="nav-textInput-tab" data-toggle="tab" href="#nav-textInput" role="tab" aria-controls="nav-textInput" aria-selected="true">Text</a>
                        <a class="nav-item nav-link" id="nav-fileInput-tab" data-toggle="tab" href="#nav-fileInput" role="tab" aria-controls="nav-fileInput" aria-selected="false">File</a>
                        <a class="nav-item nav-link" id="nav-urlsInput-tab" data-toggle="tab" href="#nav-urlsInput" role="tab" aria-controls="nav-urlsInput" aria-selected="false">URLs</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tab-inputs-content">
                    <div class="tab-pane fade show active" id="nav-textInput" role="tabpanel" aria-labelledby="nav-textInput-tab">
                        <div>
                            <textarea id="textInput" class="form-control mimr-bg-lightgreen mimr-bg-lightgreen-focus" name="text" rows="15" placeholder="Enter text to be counted..."></textarea>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-fileInput" role="tabpanel" aria-labelledby="nav-fileInput-tab">
                        <div class="custom-file">
                            <input id="fileInput" class="custom-file-input" type="file" name="file">
                            <label class="custom-file-label text-truncate" for="fileInput">Choose file...</label>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-urlsInput" role="tabpanel" aria-labelledby="nav-urlsInput-tab">
                        <div>
                            <textarea id="urlsInput" class="form-control mimr-bg-beige mimr-bg-beige-focus mimr-strip-whitespace" name="urls" rows="15" placeholder="Enter URLs to be extracted and counted. Separate items by new line..."></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <small class="form-text text-muted d-flex justify-content-end">Multiple input sources are possible. Try it!</small>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Include:</span>
                        <span class="input-group-text d-none d-sm-block"><i class="fas fa-fill-drip"></i></span>
                    </div>
                    <select id="include" class="custom-select" name="include">
                        <option value="all">All</option>
                        <option value="letters">Letters</option>
                        <option value="digits">Digits</option>
                        <option value="letters_digits">Letters, Digits</option>
                        <option value="letters_digits_connectorsymbols">Letters, Digits, Connectors</option>
                        <option value="letters_digits_nonsplittersymbols" selected>Letters, Digits, Non-splitters</option>
                    </select>
                </div>
            </div>

            <div class="form-row mt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text font-weight-bold">Order:</span>
                        <span class="input-group-text d-none d-sm-block"><i class="fas fa-sort-amount-down-alt"></i></span>
                    </div>
                    <select id="order" class="custom-select" name="order">
                        <option value="none">None</option>
                        <option value="alphabetical">Alphabetical</option>
                        <option value="increasing">Increasing</option>
                        <option value="decreasing" selected>Decreasing</option>
                    </select>
                </div>
            </div>

            <div class="form-row mt-3 position-relative">
                <div class="form-group w-100">
                    <label for="ignoreInput" class="font-weight-bold text-muted h4">Words to Ignore:</label>
                    <textarea id="ignoreInput" class="form-control mimr-bg-beige mimr-bg-beige-focus mimr-strip-whitespace" name="ignore" placeholder="Enter words to be ignored. Separate items by new line..." rows="10"></textarea>
                </div>
                <div class="custom-control custom-switch position-absolute mimr-top-right mimr-bg-blueviolet-checkbox">
                    <input type="checkbox" class="custom-control-input" id="ignoreDefault">
                    <label class="custom-control-label" for="ignoreDefault">
                        Ignore
                        <a href="{% static 'text/assets/txt/commonWords.txt' %}" target="_blank">default</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column mt-3 mr-4">
            <button class="btn btn-primary btn-block flex-fill mimr" type="submit" id="countButton">
                Count
                <br class="d-none d-lg-inline">
                <span class="spinner-border spinner-border-sm d-none text-warning" role="status" aria-hidden="true"></span>
            </button>
        </div>

        <div class="flex-fill d-flex flex-column form-group position-relative mt-3"> <!-- col-md-10 col-lg-8 col-xl-6 mt-3 p-0 -->
            <label for="countedWords" class="font-weight-bold text-muted h4 position-relative">
                Words Count:
                <span class="spinner-grow mimr-text-blueviolet d-none position-absolute" role="status" aria-hidden="true"></span>
            </label>
            <textarea id="countedWords" class="form-control mimr-bg-lightpink mimr-bg-lightpink-focus flex-grow-1 mimr-mh-80vh" name="countedWords" placeholder="" rows="15" readonly contenteditable="true"></textarea>
            <button class="btn btn-link mimr-btn-copy mimr-top-right position-absolute" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="Copied! :)" data-timeout="2000" data-target="countedWords">Copy</button>
        </div>
    </div>

</form>

{% endblock %}

{% block footer %}

<script type="text/javascript" src="{% static 'text/js/commonWord.js' %}"></script>

{% endblock %}
