{% extends "base.html" %}

{% block head %}

<title>Format Tab Indents | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="pageLabel jumbotron jumbotron-fluid">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            Format Tab Indents
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}


<form class="m-3" method="POST" action="."> {% csrf_token %}
    <div class="form-group row">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Format</button>
        </div>
    </div>

    <div class="form-group form-row">
        <label class="col-auto" for="tabMultiplier">Tab Multiplier</label>
        <div class="col-auto">
            <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">x</div></div>
                <input type="number" min="0" step="0.01" id="tabMultiplier" class="form-control" name="tabMultiplier" value="{{ tabMultiplier }}">
            </div>
        </div>
    </div>

    Text to format: <textarea type="text" name="textToFormat" style="resize: both;" placeholder="{{ textToFormatPlaceholder }}" required>{{ textToFormat }}</textarea><br>
    Formatted text: <textarea type="text" name="formattedText" style="resize: both;">{{ formattedText }}</textarea>
</form>

{% endblock %}
