{% extends "base.html" %}

{% block head %}

<title>Services: Text | MakeIdeasMakeReality</title>

{% endblock %}

{% block body %}

<h1>List of Services</h1>
<ul>
    <li><h3><a href="/service/text/ciphermessage/">Cipher Message</a></h3></li>
    <li><h3><a href="/service/text/formattabindent/">Format Tab Indents</a></h3></li>
    <li><h3><a href="/service/text/generatecode/">Generate Code</a></h3></li>
    <li><h3><a href="/service/text/limitlinelength/">Limit Line Length</a></h3></li>
</ul>

{% endblock %}
