{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'text/css/text.css' %}">

<title>Services: Text | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="pageLabel jumbotron jumbotron-fluid">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            Text
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<h1 class="text-center display-4 mt-5">
    SERVICES
    <i class="fas fa-tram text-primary"></i>
</h1>

<div class="container-fluid">
    <div class="card-deck row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mx-sm-5 mx-md-0">

        <div class="col pt-4"><div class="card h-100 mimr-bg-beige">
            <img src="{% static 'assets/img/logo/wordCount.png' %}" class="card-img-top" alt="...">
            <div class="card-header bg-info mimr-text-beige text-center"><h3>Common Words</h3></div>
            <div class="card-body">
                <p class="card-text">Curious about the requirements that appeared the most on multiple job posting websites? Or maybe you're interested in knowing the most used words in your thesis research document? Find out here!</p>
            </div>
            <div class="card-footer text-right"><a class="btn btn-primary" href="/service/text/commonword/">Me gusta!</a></div>
        </div></div>

        <div class="col pt-4"><div class="card h-100 mimr-bg-beige">
            <img src="{% static 'assets/img/logo/envelopeWithLock.jpg' %}" class="card-img-top" alt="...">
            <div class="card-header bg-info mimr-text-beige text-center"><h2>Cipher Message</h2></div>
            <div class="card-body">
                <p class="card-text">Do you have a confidential message that you're hesitant of sending directly to someone? Then let this app translate your message to an unreadable format using your own provided keycode. Don't forget to let your receiver know the keycode!</p>
            </div>
            <div class="card-footer text-right"><a class="btn btn-primary" href="/service/text/ciphermessage/">Me gusta!</a></div> <!-- btn-lg btn-block -->
            <!-- <div class="card-footer"><small class="text-muted">Last updated 3 mins ago</small></div> -->
        </div></div>

        <div class="col pt-4"><div class="card h-100 mimr-bg-beige">
            <img src="{% static 'assets/img/logo/blockIndentation.jpg' %}" class="card-img-top" alt="...">
            <div class="card-header bg-info mimr-text-beige text-center"><h3>Format Tab Indents</h3></div>
            <div class="card-body">
                <p class="card-text">Are you switching your project from using tab space indentation of size 2 into size 4? Or maybe you're already using 4 spaces but the level of HTML nesting that you have makes you want to just use 2 spaces? Then this app is for you!</p>
            </div>
            <div class="card-footer text-right"><a class="btn btn-primary" href="/service/text/formattabindent/">Me gusta!</a></div>
        </div></div>

        <div class="col pt-4"><div class="card h-100 mimr-bg-beige">
            <img src="{% static 'assets/img/logo/lettersNumbersSymbolsSquare.jpg' %}" class="card-img-top" alt="...">
            <div class="card-header bg-info mimr-text-beige text-center"><h2>Generate Code</h2></div>
            <div class="card-body">
                <p class="card-text">In need of a strong password? Or maybe you're a programmer needing random strings for testing your software? Or whatever case it maybe, should you need random combination of letters, numbers, and symbols then try this!</p>
            </div>
            <div class="card-footer text-right"><a class="btn btn-primary" href="/service/text/generatecode/">Me gusta!</a></div>
        </div></div>

        <div class="col pt-4"><div class="card h-100 mimr-bg-beige">
            <img src="{% static 'assets/img/logo/document2Columns.png' %}" class="card-img-top" alt="...">
            <div class="card-header bg-info mimr-text-beige text-center"><h3>Limit Line Length</h3></div>
            <div class="card-body">
                <p class="card-text">Want your paragraph to stay at maximum of 100 characters per line? Or are you inserting comments in your code and you're already tired of manually adjusting each line for every word inserted in the middle? With this app, say goodbye to manual adjustments!</p>
            </div>
            <div class="card-footer text-right"><a class="btn btn-primary" href="/service/text/limitlinelength/">Me gusta!</a></div>
        </div></div>

    </div>
</div>

{% endblock %}
