{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'text/css/text.css' %}">

<title>Services: Text | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="jumbotron jumbotron-fluid" id="pageLabel">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            Text
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<h1>List of Services</h1>
<ul>
    <li><h3><a href="/service/text/ciphermessage/">Cipher Message</a></h3></li>
    <li><h3><a href="/service/text/formattabindent/">Format Tab Indents</a></h3></li>
    <li><h3><a href="/service/text/generatecode/">Generate Code</a></h3></li>
    <li><h3><a href="/service/text/limitlinelength/">Limit Line Length</a></h3></li>
</ul>

{% endblock %}
