{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'text/css/common.css' %}">

<title>Wrap Line | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="pageLabel jumbotron jumbotron-fluid" id="wrapLine_pageLabel">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            Wrap Line
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="mt-2 text-center text-muted font-italic">Need <a href="{% static 'docs/build/html/modules/api/service/text/wrapLine.html' %}" target="_blank">help?</a></div>

<form class="m-4 serviceForm" method="POST" action="." data-url="/service/text/wrapline/api/" data-result="#formattedText"> {% csrf_token %}
    <div class="btn-group btn-group-lg" role="group" aria-label="Limit and compress">
        <button type="submit" class="btn btn-info" name="operation" value="limit">Limit <i class="fas fa-sliders-h"></i></button>
        <button type="submit" class="btn btn-danger" name="operation" value="limit_compress">Limit & Compress <i class="fas fa-compress-arrows-alt"></i></button>
    </div>

    <div class="form-row mt-3">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">Max line length:</span>
                <span class="input-group-text d-none d-sm-block"><i class="fas fa-ruler-horizontal"></i></span>
            </div>
            <input type="number" min="1" name="maxLineLength" value="{{ maxLineLength }}" aria-label="Line length" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text d-none d-sm-block">characters</span>
            </div>
        </div>
    </div>

    <div class="form-row mt-3">
        <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">Wrap point (1-based index):</span>
                <span class="input-group-text d-none d-sm-block"><i class="fas fa-sync-alt"></i></span>
            </div>
            <input type="number" min="1" name="rotationPoint" value="{{ rotationPoint }}" aria-label="Rotation point" class="form-control">
            <div class="input-group-append">
                <span class="input-group-text d-none d-sm-block">th</span>
            </div>
        </div>
    </div>

    <div class="d-md-flex mt-3">
        <div class="form-group flex-fill">
            <label for="textToFormat" class="font-weight-bold h4">Text to format:</label>
            <textarea id="textToFormat" class="form-control mimr-bg-lightgreen mimr-bg-lightgreen-focus" name="text" rows="15" placeholder="{{ textToFormatPlaceholder }}" required></textarea>
        </div>

        <div class="form-group flex-fill position-relative">
            <label for="formattedText" class="font-weight-bold h4">Formatted text:</label>
            <textarea id="formattedText" class="form-control mimr-bg-lightpink mimr-bg-lightpink-focus" name="formattedText" rows="15" placeholder="" readonly contenteditable="true"></textarea>
            <button class="btn btn-link mimr-btn-copy mimr-top-right position-absolute" type="button" data-container="body" data-toggle="popover" data-placement="top" data-content="Copied! :)" data-timeout="2000" data-target="formattedText">Copy</button>
        </div>
    </div>
</form>

{% endblock %}
