{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/defaultLayout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'about/css/whoAmI.css' %}">

<title>Who Am I | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="jumbotron jumbotron-fluid" id="pageLabel">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            $ whoami
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="container text-center">
    <h1 class="display-3 mt-5">WHO AM I?</h1>
    <p class="lead text-justify mt-3">
        Answering the question,
        <a href="https://linux.die.net/man/1/whoami" target="_blank">whoami</a>?
        My
        <a href="https://linux.die.net/man/1/uname" target="_blank">uname</a>
        is Niel. A happy person, rarely
        <a href="https://linux.die.net/man/1/sed" target="_blank">sed</a>.
        Constantly motivated by the
        <a href="https://linux.die.net/man/1/id" target="_blank">id</a>ea
        of
        <a href="https://linux.die.net/man/1/make" target="_blank">make</a>ing
        things work. Naturally curious
        <a href="https://linux.die.net/man/1/and" target="_blank">and</a>
        loves the challenge of
        <a href="https://linux.die.net/man/1/find" target="_blank">find</a>ing
        the
        <a href="https://linux.die.net/man/1/diff" target="_blank">diff</a>erent
        ways to implement
        <a href="https://linux.die.net/man/8/service" target="_blank">service</a>s
        and
        <a href="http://man7.org/linux/man-pages/man1/systemctl.1.html" target="_blank">system</a>s<del class="text-muted">ctl</del>.
        A
        <a href="https://linux.die.net/man/1/type" target="_blank">type</a>
        of person who does not just stop once a problem is solved, would always
        <a href="https://linux.die.net/man/1/tar" target="_blank">tar</a>get
        to understand how it happened,
        <a href="https://linux.die.net/man/1/which" target="_blank">which</a>
        could prevent future related problems. Loves learning! Keeps on expanding my knowledge through the
        <a href="https://linux.die.net/sag/var-fs.html" target="_blank">/var</a>iety of
        <a href="https://linux.die.net/man/1/ulimit" target="_blank">ulimit</a>ed
        resources online. Be it
        <a href="https://linux.die.net/man/1/watch" target="_blank">watch</a>ing
        seminars, conferences, or taking online courses, or
        <a href="https://linux.die.net/man/1/read" target="_blank">read</a>ing
        documentations,
        <a href="https://linux.die.net/man/1/for" target="_blank">for</a>ums,
        tech sites,
        <a href="https://linux.die.net/sag/etc-fs.html" target="_blank">/etc</a>.,
        or
        <a href="https://linux.die.net/man/1/wget" target="_blank">wget</a>tting
        cheat<a href="https://linux.die.net/man/1/sh" target="_blank">sh</a>eets,
        <a href="https://linux.die.net/man/1/or" target="_blank">or</a>
        literally anything* that can be
        <a href="https://linux.die.net/man/1/locate" target="_blank">locate</a>d
        by a
        h<a href="https://linux.die.net/man/1/awk" target="_blank">awk</a>
        in the <del class="text-muted">Google</del> cloud above the
        <a href="https://linux.die.net/man/1/tree" target="_blank">tree</a>s!.
        Highly organized and
        <a href="https://linux.die.net/man/1/ln" target="_blank">ln</a>dependent,
        focused on
        <a href="https://linux.die.net/sag/proc-fs.html" target="_blank">/proc</a>essing
        things step by step, one at a time. Determined. If interested in something, expect nothing
        <a href="https://linux.die.net/man/1/less" target="_blank">less</a>
        but even
        <a href="https://linux.die.net/man/1/more" target="_blank">more</a>
        than my 23hours-56minutes-4seconds of
        fu<a href="https://linux.die.net/man/1/ls" target="_blank">ll</a>
        effort per axis-rotation of our
        <a href="http://www.linfo.org/home_directory.html" target="_blank">$HOME</a>
        ~/planet!
        <br>
        <br>
        <a href="https://linux.die.net/man/1/ps" target="_blank">P.S.</a>
        A copy of my CV isn't available here as it is allergic to the number
        <a href="https://linux.die.net/man/1/chmod" target="_blank">777</a>,
        it wouldn't
        <a href="https://www.unix.com/man-page/debian/1/Show/" target="_blank">show</a>
        up even when asked by Mr.
        <a href="https://linux.die.net/man/8/sudo" target="_blank">Sudo</a>
        ^_^
        <a href="https://en.wikipedia.org/wiki/Null_device" target="_blank">> /dev/null</a>
    </p>
</div>

{% endblock %}
