{% extends "base.html" %}

{% block head %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/defaultLayout.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'about/css/whoAmI.css' %}">

<title>Who Am I | MakeIdeasMakeReality</title>

{% endblock %}

{% block pageLabel %}

<div class="jumbotron jumbotron-fluid" id="pageLabel">
    <div class="container pt-5 text-center">
        <div class="display-3 pt-xs-3 pt-sm-5">
            $ whoami
        </h1>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="container text-center">
    <h1 class="display-3 mt-5">
        WHO AM I?
        <i class="fas fa-user-secret text-success"></i>
    </h1>
    <p class="lead text-justify mt-4">
        Answering the question,
        <a href="https://linux.die.net/man/1/whoami" target="_blank">whoami</a>? My
        <a href="https://linux.die.net/man/1/uname" target="_blank">uname</a> is Niel. A happy person, rarely
        <a href="https://linux.die.net/man/1/sed" target="_blank">sed</a>
        <i class="fas fa-theater-masks text-success"></i>. Constantly motivated by the
        <a href="https://linux.die.net/man/1/id" target="_blank">id</a>ea
        <i class="far fa-lightbulb text-success"></i> of
        <a href="https://linux.die.net/man/1/make" target="_blank">make</a>ing things work
        <i class="fas fa-magic text-success"></i>. Naturally curious. Loves
        <i class="fas fa-heart text-success"></i> the challenge of
        <a href="https://linux.die.net/man/1/find" target="_blank">find</a>ing
        <a href="https://linux.die.net/man/1/diff" target="_blank">diff</a>erent ways
        <i class="fas fa-random text-success"></i> to solve
        <a href="https://linux.die.net/man/1/and" target="_blank">and</a> implement
        <a href="https://linux.die.net/man/8/service" target="_blank">service</a>s and
        <a href="http://man7.org/linux/man-pages/man1/systemctl.1.html" target="_blank">system</a>s<del class="text-muted">ctl</del>. A
        <a href="https://linux.die.net/man/1/type" target="_blank">type</a> of person
        <i class="fas fa-chalkboard-teacher text-success"></i> who does not just stop
        <i class="far fa-hand-paper text-success"></i> once a problem is solved, would always
        <a href="https://linux.die.net/man/1/tar" target="_blank">tar</a>get
        <i class="fas fa-tasks text-success"></i> to understand
        <i class="fas fa-search text-success"></i> how it happened
        <i class="fas fa-atom text-success"></i>,
        <a href="https://linux.die.net/man/1/which" target="_blank">which</a> could prevent future related problems
        <i class="fas fa-sync text-success"></i>. Loves
        <i class="fas fa-book-open text-success"></i> learning! Keeps on expanding
        <i class="fas fa-expand-arrows-alt text-success"></i> my knowledge
        <i class="fas fa-brain text-success"></i> through the
        <a href="https://linux.die.net/sag/var-fs.html" target="_blank">/var</a>iety of
        <a href="https://linux.die.net/man/1/ulimit" target="_blank">ulimit</a>ed resources
        <i class="fas fa-fish text-success"></i> online. Be it
        <a href="https://linux.die.net/man/1/watch" target="_blank">watch</a>ing
        <i class="far fa-play-circle text-success"></i> seminars, conferences
        <i class="fas fa-bullhorn text-success"></i>, or taking online courses
        <i class="fas fa-graduation-cap text-success"></i>, or
        <a href="https://linux.die.net/man/1/read" target="_blank">read</a>ing documentations
        <i class="far fa-file-alt text-success"></i> ,
        <a href="https://linux.die.net/man/1/for" target="_blank">for</a>ums
        <i class="fas fa-people-carry text-success"></i>, tech sites,
        <a href="https://linux.die.net/sag/etc-fs.html" target="_blank">/etc</a>., or
        <a href="https://linux.die.net/man/1/wget" target="_blank">wget</a>tting
        cheat<a href="https://linux.die.net/man/1/sh" target="_blank">sh</a>eets
        <i class="far fa-file-code text-success"></i> ,
        <a href="https://linux.die.net/man/1/or" target="_blank">or</a> literally anything
        <i class="fas fa-asterisk text-success"></i> that can be
        <a href="https://linux.die.net/man/1/locate" target="_blank">locate</a>d by a
        h<a href="https://linux.die.net/man/1/awk" target="_blank">awk</a>
        <i class="fas fa-dove text-success"></i> on the
        <del class="text-muted">Google</del> cloud
        <i class="fab fa-soundcloud text-success"></i> above the
        <i class="fas fa-tree text-success"></i>
        <a href="https://linux.die.net/man/1/tree" target="_blank">tree</a>s! Highly organized
        <i class="fas fa-columns text-success"></i> and
        <a href="https://linux.die.net/man/1/ln" target="_blank">ln</a>dependent
        <i class="fas fa-street-view text-success"></i>, focused on
        <a href="https://linux.die.net/sag/proc-fs.html" target="_blank">/proc</a>essing things step by step
        <i class="fas fa-chart-line text-success"></i>, one at a time. Determined
        <i class="fas fa-skiing-nordic text-success"></i>. If interested in something, expect nothing
        <a href="https://linux.die.net/man/1/less" target="_blank">less</a> but even
        <a href="https://linux.die.net/man/1/more" target="_blank">more</a>
        <i class="fas fa-angle-double-right text-success"></i> than my 23hours-56minutes-4seconds
        <i class="fas fa-hourglass-half text-success"></i> of
        fu<a href="https://linux.die.net/man/1/ls" target="_blank">ll</a> effort
        <i class="fas fa-battery-full text-success"></i> per axis-rotation
        <i class="fas fa-undo text-success"></i> of our
        <a href="http://www.linfo.org/home_directory.html" target="_blank">$HOME</a>
        <i class="fas fa-globe-americas text-success"></i> ~/planet!
        <br><br>
        <a href="https://linux.die.net/man/1/ps" target="_blank">P.S.</a> A copy of my CV isn't available here as it is allergic to the number
        <a href="https://linux.die.net/man/1/chmod" target="_blank">777</a>, it wouldn't
        <a href="https://www.unix.com/man-page/debian/1/Show/" target="_blank">show</a> up even when asked by Mr.
        <a href="https://linux.die.net/man/8/sudo" target="_blank">Sudo</a>
        <i class="far fa-laugh-wink text-success"></i>
        <a href="https://en.wikipedia.org/wiki/Null_device" target="_blank">> /dev/null</a>
    </p>
</div>

{% endblock %}
